<header-component></header-component>

<div class="home--page--wrapper">
  <div class="container">
    <div class="info--wrap">
      <h1 class="heading">Welcome!!!</h1>
      <p class="title">
        I have added both type of Forms. You can check by clicking any one of
        the below Forms.
      </p>
      <ol class="forms--list">
        <li class="list--item" [routerLink]="['/template-driven-form']">
          <p>Go To <strong>Template Driven Forms</strong></p>
        </li>
        <li class="list--item" [routerLink]="['/reactive-form']">
          <p>Go To <strong>Reactive Forms</strong></p>
        </li>
      </ol>
    </div>
  </div>
</div>
