<div class="form--data--output--wrapper">
  <span class="heading">Data</span>
  <div class="row">
    <div class="col-sm-6">
      <p>
        First Name: <span>{{ userData.firstName }}</span>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <p>
          Last Name: <span>{{ userData.lastName }}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        Phone Number: <span>{{ userData.phone }}</span>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <p>
          Email: <span>{{ userData.email }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
